n8n-workflows/gcal-to-interlingo-upsert.json
{
  "name": "gcal-to-interlingo-upsert",
  "description": null,
  "active": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Parse Google Calendar event and generate fingerprint\nfunction simpleHash(str) {\n  let hash = 5381;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return Math.abs(hash).toString(16).padStart(8, '0');\n}\n\nconst event = $input.first().json;\nconst summaryParts = (event.summary || '').split(' - ');\nconst languageString = summaryParts[0]?.trim() || 'Unknown';\nconst restOfSummary = summaryParts[1] || '';\n\n// Split languages on \"/\" to handle dual-language events\nconst languages = languageString.split('/').map(l => l.trim()).filter(l => l.length > 0);\n\nlet interpreter = null;\nlet modality = 'Remote';\nconst modalityMatch = restOfSummary.match(/(ZOOM|PHONE|IN PERSON)/i);\nif (modalityMatch) {\n  const matched = modalityMatch[1].toUpperCase();\n  if (matched === 'IN PERSON') modality = 'In-Person';\n  else if (matched === 'PHONE') modality = 'Phone';\n  else modality = 'Remote';\n  interpreter = restOfSummary.replace(modalityMatch[0], '').trim();\n} else {\n  interpreter = restOfSummary.trim();\n}\n\nconst orgAbbrev = (event.location || '')\n  .toUpperCase()\n  .replace('MUNICIPAL COURT', '')\n  .replace('DISTRICT COURT', '')\n  .replace('SUPERIOR COURT', '')\n  .trim();\n\nconst caseNotes = (event.description || '').trim();\nconst startTime = event.start?.dateTime || event.start?.date;\nconst endTime = event.end?.dateTime || event.end?.date;\n\n// Create one output per language\nreturn languages.map(language => {\n  const fingerprintRaw = `${startTime}|${orgAbbrev}|${language}`;\n  const fingerprintHash = simpleHash(fingerprintRaw);\n  \n  return {\n    json: {\n      gcal_event_id: event.id,\n      start_time: startTime,\n      end_time: endTime,\n      language: language,\n      interpreter: interpreter,\n      modality: modality,\n      org_abbreviation: orgAbbrev,\n      case_notes: caseNotes,\n      fingerprint_raw: fingerprintRaw,\n      fingerprint_hash: fingerprintHash\n    }\n  };\n});"
      },
      "name": "Parse Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        304
      ],
      "id": "b829e31a-1d9e-43a1-bb53-40ee04235944"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "commitment_blocks",
        "limit": 1,
        "filterType": "string",
        "filterString": "={{ $json.fingerprint_hash }}"
      },
      "name": "Query Existing Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        304
      ],
      "id": "b4b1f5db-8cb3-4d48-9aea-1fafaef06961",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "DcfcqMvUZR4nU3HT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the parsed data for the CURRENT item (handles multiple languages)\nconst parsed = $node[\"Parse Event\"].item($item.index).json;\n\n// Get query result - check what we actually received\nconst queryItems = $input.all();\nconst queryResult = queryItems.length > 0 ? queryItems[0].json : null;\nconst jobFound = queryResult && queryResult.id ? true : false;\n\nreturn [{\n  json: {\n    job_found: jobFound,\n    parsed: parsed,\n    existing: jobFound ? queryResult : null\n  }\n}];"
      },
      "name": "Check Job Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ],
      "alwaysOutputData": true,
      "id": "550896f5-1da3-4d0e-9293-211940b34ea2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exists-check",
              "leftValue": "={{ $json.job_found }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Job Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        304
      ],
      "id": "12637bee-9d4d-4508-acf7-c1a6187b7080"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst incoming = data.parsed;\nconst existing = data.existing;\n\nconst fieldsToCompare = ['end_time', 'case_notes', 'modality'];\nconst changes = [];\nconst previousValues = {};\nconst newValues = {};\n\nfieldsToCompare.forEach(field => {\n  const incomingVal = incoming[field] || null;\n  const existingVal = existing[field] || null;\n  if (incomingVal !== existingVal) {\n    changes.push(field);\n    previousValues[field] = existingVal;\n    newValues[field] = incomingVal;\n  }\n});\n\nreturn [{\n  json: {\n    action: changes.length > 0 ? 'update' : 'no_changes',\n    existing_id: existing.id,\n    current_version: existing.version || 1,\n    new_version: (existing.version || 1) + 1,\n    changed_fields: changes,\n    previous_values: previousValues,\n    new_values: newValues,\n    incoming_data: incoming\n  }\n}];"
      },
      "name": "Compare Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        208
      ],
      "id": "af14e792-15ac-4972-8c5f-6aa36eefaa4f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-changes",
              "leftValue": "={{ $json.action }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1328,
        208
      ],
      "id": "18414a8e-c064-4ebf-b9e8-3b77edae460d"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "commitment_blocks"
      },
      "name": "Update Existing Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1552,
        112
      ],
      "id": "c5e6e504-c360-4917-9044-dafea094805f",
      "credentials": {
        "supabaseApi": {
          "id": "DcfcqMvUZR4nU3HT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "job_version_history"
      },
      "name": "Log Version History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1760,
        112
      ],
      "id": "96448909-1683-4fdf-847a-17a0974cbe8f",
      "credentials": {
        "supabaseApi": {
          "id": "DcfcqMvUZR4nU3HT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "commitment_blocks"
      },
      "name": "Touch Last Synced",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1552,
        304
      ],
      "id": "c76beb6c-3f8c-4dd7-9c71-60da702cf4ca",
      "credentials": {
        "supabaseApi": {
          "id": "DcfcqMvUZR4nU3HT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "useCustomSchema": true,
        "tableId": "commitment_blocks",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "gcal_event_id",
              "fieldValue": "={{ $json.parsed.gcal_event_id }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $json.parsed.language }}"
            },
            {
              "fieldId": "interpreter",
              "fieldValue": "={{ $json.parsed.interpreter }}"
            },
            {
              "fieldId": "modality",
              "fieldValue": "={{ $json.parsed.modality }}"
            },
            {
              "fieldId": "org_abbreviation",
              "fieldValue": "={{ $json.parsed.org_abbreviation }}"
            },
            {
              "fieldId": "start_time",
              "fieldValue": "={{ $json.parsed.start_time }}"
            },
            {
              "fieldId": "end_time",
              "fieldValue": "={{ $json.parsed.end_time }}"
            },
            {
              "fieldId": "case_notes",
              "fieldValue": "={{ $json.parsed.case_notes }}"
            },
            {
              "fieldId": "fingerprint_raw",
              "fieldValue": "={{ $json.parsed.fingerprint_raw }}"
            },
            {
              "fieldId": "fingerprint_hash",
              "fieldValue": "={{ $json.parsed.fingerprint_hash }}"
            }
          ]
        }
      },
      "name": "Create New Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        400
      ],
      "id": "80247b00-414c-4378-8e59-9c9fbef52c4d",
      "credentials": {
        "supabaseApi": {
          "id": "DcfcqMvUZR4nU3HT",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "0dc1ccadab997f41c7af87198ae1a0ac61a635f4d99b3b9b49f5c57947cd301b@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "NOTION_INTERCOM"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "017d58c3-0d42-461b-b3e2-8e4d168331c3",
      "name": "Google Calendar Trigger1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "iEbMmGly5eGaX2gX",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Parse Event": {
      "main": [
        [
          {
            "node": "Query Existing Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Existing Job": {
      "main": [
        [
          {
            "node": "Check Job Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Exists": {
      "main": [
        [
          {
            "node": "Job Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Exists?": {
      "main": [
        [
          {
            "node": "Compare Changes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Changes": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Update Existing Job",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Touch Last Synced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Job": {
      "main": [
        [
          {
            "node": "Log Version History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger1": {
      "main": [
        [
          {
            "node": "Parse Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2025-12-30T02:05:49Z"
    },
    "node:Google Calendar Trigger1": {
      "lastTimeChecked": "2026-01-25T01:37:52Z"
    }
  },
  "pinData": {
    "Google Calendar Trigger1": [
      {
        "json": {
          "kind": "calendar#event",
          "etag": "\"3421581128770000\"",
          "id": "_8go3ig9g6os30b9o8l0jeb9k8gsk4b9o70p30ba26l2k2d226h2j6d9h8o",
          "status": "confirmed",
          "htmlLink": "https://www.google.com/calendar/event?eid=XzhnbzNpZzlnNm9zMzBiOW84bDBqZWI5azhnc2s0YjlvNzBwMzBiYTI2bDJrMmQyMjZoMmo2ZDloOG8gMGRjMWNjYWRhYjk5N2Y0MWM3YWY4NzE5OGFlMWEwYWM2MWE2MzVmNGQ5OWIzYjliNDlmNWM1Nzk0N2NkMzAxYkBn",
          "created": "2024-03-18T19:36:04.000Z",
          "updated": "2024-03-18T19:36:04.385Z",
          "summary": "Spanish/Mam - Ma M ZOOM",
          "description": "NO: Ma F\n\nMeeting ID: 491 553 1189\nPassword: 61045832\n\nBRAVO ALTAMIRANO , JILVER\n4A0045471 ENP CTPTR\nDUI\n4A0045474 ENP IT\nOP MOT VEH W/OUT INSURANCE\nand FL RENEW EXPIRED REG > 2 MTHS",
          "location": "ENUMCLAW",
          "creator": {
            "email": "itzabanos@gmail.com"
          },
          "organizer": {
            "email": "0dc1ccadab997f41c7af87198ae1a0ac61a635f4d99b3b9b49f5c57947cd301b@group.calendar.google.com",
            "displayName": "Intercom",
            "self": true
          },
          "start": {
            "dateTime": "2024-03-19T13:15:55-07:00",
            "timeZone": "America/Los_Angeles"
          },
          "end": {
            "dateTime": "2024-03-19T15:15:55-07:00",
            "timeZone": "America/Los_Angeles"
          },
          "iCalUID": "D09A0680-8EA7-4D9B-8820-B5EA4B4E351F",
          "sequence": 1,
          "reminders": {
            "useDefault": true
          },
          "eventType": "default"
        }
      }
    ]
  },
  "tags": []
}
